    <div id="header-div-id">
    <h5 id="base-channel-id"></h5>
    <h5 id="h5-id">No message channel presently</h5>
    </div>
    <div id="div1">
      <input
        id="input1-id"
        type="text" />
      <input
        id="button1-id"
        type="button"
        value="Click" />
    </div>
    <div id="div2">
      <input
        id="input2-id"
        type="text" />
      <input
        id="button2-id"
        type="button"
        value="Click" />
    </div>
    <div id="message-panel-id">
      <ul id="ul-id">
      </ul>
    </div>
