<!DOCTYPE html>
<html>
<head>
  <title>FayePractice2</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag(
    "application",
    "https://powerful-waters-1612.herokuapp.com/faye.js",
    "data-turbolinks-track" => true) %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
